body,html{margin:0;padding:0;width:100%;height:auto;}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }
 /* SIDEBAR CSS */
 .sidebar-username-information {
    background-color: #9d9d9d;
    text-align: center;
    color: white;
    height: 30px;
    line-height: 30px;
}
span.option-user {
    float: right;
    padding-right: 2%;
}
.sidebar-show-option-user {
    background-color: #def7ff;
    padding-left: 5%;
    padding-bottom: 1%;
    padding-top: 5%;
}
.sidebar-show-option-user a {
    color: black;
    font-weight: 400;
    text-decoration:none;
}
.sidebar-left-menu a {
    color: #545454;
    text-decoration: none;
}
.sidebar-left-menu {
    padding-left: 0%;
}
.sidebar-left-menu p:hover {
    background-color: #d0d0d0;
    transition: 1s ease all;
}
.sidebar-left-menu p {
    height: 45px;
    line-height: 45px;
    padding-left: 5%;
    margin-bottom: 0;
}
span.sidebar-menu-option {
    float: right;
    padding-right: 8%;
}
.container-content {
    padding-top: 1%;
}

td.details-control {
    background: url('http://next.datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('http://next.datatables.net/examples/resources/details_close.png') no-repeat center center;
}
.table-content th {
    vertical-align: middle !important;
    text-align: center;
}
table#tabledit {
    font-size: 10px !important;
}
input.tabledit-input.form-control {
    font-size: 10px !important;
}
select.tabledit-input.form-control {
    font-size: 10px !important;
}
table#tabledit td {
    vertical-align: middle !important;
}
span.label.label-danger {
    background-color: #ffc124;
    color: white;
    padding: 5px;
    font-size: 10px;
    border-radius: 10px;
    margin-bottom: 18px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255) !important;
}
.col-sm-12.box-huongdan {
    background-color: #a3cfff85;
    border: 1px solid #047bfc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom:35px;
}
.col-sm-12.box-huongdan p {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    color: #326092;
    font-weight: 500;
}
.box-huongdan em {
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    color: #d21e1e;
}
.col-sm-12.box-huongdan p:before {
    content: "\f101";
    font-family: FontAwesome;
}
span.state-message-loaibenh,span.state-message-bacsi,span.state-message-nguonden,span.state-message-phuongthuc {
    font-family: FontAwesome;
}
.button-zone-addbenh,.button-zone-addbacsi,.button-zone-addnguonden,.button-zone-addphuongthuc {
    text-align: center;
}
.state-check-loaibenh,.state-check-bacsi,.state-check-nguonden,.state-check-phuongthuc {
    text-align: center;
}
span.orange-message {
    font-weight: bolder;
    color: orange;
    font-size: 20px;
}
span.red-message {
    font-weight: bolder;
    color: red;
    font-size: 20px;
}
span.blue-message {
    font-weight: bolder;
    color: blue;
    font-size: 20px;
}
span.green-message {
    font-weight: bolder;
    color: green;
    font-size: 20px;
}
span.purple-message {
    font-weight: bolder;
    color: purple;
    font-size: 20px;
}
.col-sm-12.box-alert {
    background-color: #ffb9b9;
    border: 1px solid #b55858;
    border-radius: 10px;
    height: 25px;
    text-align: center;
    margin-bottom: 35px;
    display:none;
}
td#bluemassage {
    background-color: #047bfc;
    color: white;
    font-weight: bolder;
    text-align: center;
}
td#blackmassage {
    background-color: #474747;
    color: white;
    font-weight: bolder;
    text-align: center;
}
td#greymassage {
    background-color: grey;
    color: yellow;
    font-weight: bolder;
    text-align: center;
}
td#orangemassage {
    background-color: orange;
    text-align: center;
    font-weight: bolder;
}
.footer-div-zone {
    width: 100%;
    display: block;
    border-top: 2px solid #639ad6;
    background-color: #000000;
    color: white;
    height: 65px;
    text-align: center;
    padding-top: 0%;
    position: absolute;
    bottom: 0;
}
.form-login {
    width: 405px;
    position: absolute;
    top: 27%;
    left: 33%;
    background-color: #333333;
    padding: 10px;
    color: white;
    border: 1px solid #b6b6b6;
    text-align: center;
}
.form-login label {
    margin-bottom: 10px;
    margin-top: 5px;
}
.form-login button {
    margin-top: 10px;
}
.err-message-login {
    margin-top: 10px;
    background-color: red;
    padding: 10px;
    font-size: 14px;
}
.container-fluid.nhapdulieu-box label {
    margin-top: 25px;
}